<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="STDERR"/>
        </Root>
        <Logger name="ru.t_systems.alyona.sbb" level="info" additivity="false">
            <AppenderRef ref="STDERR"/>
        </Logger>
    </Loggers>
</Configuration>
